@page "/ocupacion"
@page "/ocupacion/{OcupacionId:int}"

@inject OcupacionesBLL OcupacionesBLL
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Ocupaciones</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-cvzrllrN+I0l1bvg/3x2j3w7C0NweyNdd7X9lmRy8VjTT5GgCC5jKOW5R5f5n5Y42ptiKjzphX9eyQq3orMjKQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div class="container my-5">
    <div class="card">
        <div class="card-header bg-light text-center">
            <h2>Registro de Ocupaciones</h2>
        </div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label for="OcupacionId" class="form-label">OcupacionId</label>
                    <input type="num" class="form-control" id="OcupacionId"  @bind-value="ocupacion.OcupacionId">
                </div>
                <button name="btnSearch" @onclick="Buscar" id="btnSearch" class="btn btn-secondary">
                    <span class="fas fa-search"></span> Buscar
                </button>
                <div class="mb-3">
                    <label for="Descripcion" class="form-label">Descripción</label>
                    <input type="text" class="form-control" id="Descripcion"  @bind-value="ocupacion.Descripcion">
                     <ValidationMessage For="@(() => ocupacion.Descripcion)" />
                </div>
                <div class="mb-3">
                    <label for="Salario" class="form-label">Salario</label>
                    <input type="text" class="form-control" id="Salario"  @bind-value="ocupacion.Salario">
                     <ValidationMessage For="@(() => ocupacion.Salario)" />
                </div>
                <div class="d-flex justify-content-center">
                    <button name="btnNuevo" @onclick="Nuevo" id="btnNuevo" class="btn btn-primary me-3">
                        <span class="oi oi-plus"></span> Nuevo
                    </button>
                    <button name="btnguardar" @onclick="Guardar" id="btnguardar" class="btn btn-success me-3">
                        <span class="oi oi-download"></span> Guardar
                    </button>
                    <button name="btnCancel"@onclick="Eliminar" id="btnCancel" class="btn btn-danger">
                        <span class="oi oi-x"></span> Eliminar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



</body>
</html>


@code {
    [Parameter]
    public int OcupacionId { get; set; }
    public Ocupaciones ocupacion { get; set; } = new Ocupaciones();

    protected override void OnInitialized()
    {
        if (OcupacionId > 0)
        {

            this.ocupacion.OcupacionId = OcupacionId;
            this.Buscar();
        }
    }
    

    void Buscar()
    {

        var ocupacionEncontrada = OcupacionesBLL.Buscar(ocupacion.OcupacionId);
        if (ocupacionEncontrada != null)
            this.ocupacion = ocupacionEncontrada;

    }
    void Nuevo()
    {
        this.ocupacion = new Ocupaciones();
    }


    void Guardar()
    {
        if (OcupacionesBLL.Guardar(this.ocupacion))
           Nuevo();
    }

    void Eliminar (){
        if(OcupacionesBLL.Eliminar(this.ocupacion))
        Nuevo();
    }
}



