@page "/Prestamo"
@page "/Prestamo/{PrestamoId:int}"
@inject PrestamoBLL PrestamoBLL
@inject PersonasBLL personasBll
@inject OcupacionesBLL ocupacionesBll


<EditForm Model="prestamo" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />


    <div class="card text-primary">
        <div class="card-header text-center">
            <h1>Prestamos</h1>
        </div>
        <div class="card-body">
            <div class="col-3">

                <label for="txtId" class="form-label">Prestamo ID:</label>
                <input type="number" id="txtId" class="form-control" @bind-value="prestamo.PrestamoId">


                <button name="btnBuscar" id="btnBuscar" class="btn btn-primary" @onclick="Buscar">
                    <span class="oi oi-magnifying-glass"></span> Buscar
                </button>
            </div>

            <div class="col-6">

                <label for="txtFecha" class="form-label">Vencimiento:</label>
                <input type="date" id="txtFecha" class="form-control" @bind-value="prestamo.Vence">



                <div class="col-6">

                    <label for="txtFecha" class="form-label">Fecha:</label>
                    <input type="date" id="txtFecha" class="form-control" @bind-value="prestamo.Fecha">




                    <label for="txtCelcular" class="form-label">Concepto:</label>
                    <input type="text" id="txtCelcular" class="form-control" @bind-value="prestamo.Concepto">


                </div>

            </div>

            <div class="row">

                <div class="col-6">

                    <label for="txtEmail" class="form-label">Monto:</label>
                    <input type="tex" id="txtEmail" @bind-value="prestamo.Monto">


                </div>

                <label for="txtOcupacionId" class="form-label">Persona:</label>

                <InputSelect class="form-select" @bind-Value="prestamo.PersonaId">
                    @foreach (var persona in personasBll.GetPersonas(o => true))
                    {
                        <option value="@persona.PersonaId">@persona.Nombre</option>
                    }
                </InputSelect>

                <div class="col-6">

                    <label for="txtDireccion" class="form-label">Balance:</label>
                    <input type="text" id="txtDireccion" class="form-control" @bind-value="prestamo.Balance">


                </div>



            </div>

            <div class=" card-footer text-center">

                <button name="btNuevo" id="btNuevo" class="btn btn-primary mr-2" @onclick="Nuevo">
                   Nuevo
                </button>

                <button name="btnGuardar" id="btnGuardar" class="btn btn-success mr-2" type="submit">
                     Guardar
                </button>

                <button name="btnEliminar" id="btnEliminar" class="btn btn-danger" @onclick="Eliminar">
                    Eliminar
                </button>
            </div>
        </div>
    </div>


</EditForm>








@code {


    [Parameter]
    public int PrestamoId { get; set; }
    public Prestamo prestamo { get; set; } = new Prestamo();

    protected override void OnInitialized()
    {
        if (PrestamoId > 0)
        {

            this.prestamo.PrestamoId = PrestamoId;
            this.Buscar();
        }
    }

    void Buscar()
    {

        var PrestamoEncontrado = PrestamoBLL.Buscar(prestamo.PrestamoId);
        if (PrestamoEncontrado != null)
            this.prestamo = PrestamoEncontrado;

    }
    void Nuevo()
    {
        this.prestamo = new Prestamo();
    }


    void Guardar()
    {
        if (PrestamoBLL.Guardar(this.prestamo))
            Nuevo();
    }

    void Eliminar()
    {
        if (PrestamoBLL.Eliminar(this.prestamo))
            Nuevo();
    }


}